PORT=4000
DATABASE_URL=postgresql://u44admin:u44password@localhost:5432/u44tech_v2
JWT_SECRET=u44supersecret
BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN=http://localhost:3000
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
