.page-item .page-link {
    border-radius: 50px;
    padding: 6px 14px;
    margin: 0 5px;
    transition: all 0.3s ease;
    text-align: center;
}

.page-item.active .page-link {
    background-color: rgb(34, 141, 255);
    color: white;
    font-weight: bold;
    padding: 10px 18px;
    transform: scale(1);
    border-radius: 100px;
}

.page-item .page-link {
    background-color: #007bff;
    color: white;
}

.page-link.btn {
    background-color: #007bff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.page-link:hover {
    background-color: #0056b3;
    color: white;
}

.page-item.disabled .page-link {
    background-color: rgb(68, 158, 255);
    color: white;
}

.col-3-extra {
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.col-3-extra:hover {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    z-index: 1;
}

.card {
    transition: all 0.3s ease;
}

.col-3-extra img {
    transition: all 0.6s ease;
    position: relative;
    z-index: 1;
}

.col-3-extra:hover {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    z-index: 1;
}

.col-3-extra:not(:hover) {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-3-extra.hide-left {
    display: none;
}

.col-3-extra.hide-right {
    display: none;
}

.card {
    transition: all 0.3s ease;
}

.col-3-extra:hover .card {
    transform: translateZ(0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.col-3-extra:hover .card img {
    width: 100% !important;
    height: 360px !important;
}

.col-3-extra.hide-left,
.col-3-extra.hide-right {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.5s ease;
}

.col-3-extra:hover {
    transition: all 0s ease-in-out;
    z-index: 1;
}