#postThumbnail img {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.share-container {
    padding: 10px;
}

.share-button:hover {
    opacity: 0.8;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-pinterest {
    background-color: #E60023;
    color: white;
}

.fa-reddit {
    background-color: #FF4500;
    color: white;
}

.fa-linkedin {
    background-color: #0077B5;
    color: white;
}

.custom-container {
    margin-top: 100px;
    width: 1000px;
}

@media screen and (max-width: 768px) {
    .custom-container {
        margin-top: 80px;
        width: 80%;
    }
}